
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:  linear-gradient(rgb(226, 152, 204),rgb(100, 98, 223));
}
h1{
    color: black;
}

.tile {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #3498db;
    text-align: center;
    line-height: 150px;
    border-radius: 20px;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
a {
    display: flex;
    justify-content: center;
    
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: inherit;

}

.tile a:hover {
    background: whitesmoke;
    color: rgb(7, 76, 133);
    border-radius: 20px;
    
}
